Repository stanford-crfm/helm, pull requests merged in 2024-01, with the labels that each got.

#2189 Support multimodal models: GPT-4V, Gemini Vision, Luminous Multimodal
  setup.cfg
  src/helm/benchmark/model_metadata_registry.py
  src/helm/benchmark/presentation/run_specs_tiny.conf
  src/helm/benchmark/presentation/run_specs_vhelm.conf
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs.py
  src/helm/benchmark/scenarios/vision_language/viz_wiz_scenario.py
  src/helm/benchmark/vlm_run_specs.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/proxy/clients/aleph_alpha_client.py
  src/helm/proxy/clients/openai_client.py
  src/helm/proxy/clients/vertexai_client.py
Labels: models

#1992 Hateful Memes Scenario
  src/helm/benchmark/presentation/run_specs_vhelm.conf
  src/helm/benchmark/scenarios/vision_language/hateful_memes_scenario.py
  src/helm/benchmark/vlm_run_specs.py
Labels: scenarios, VHELM

#2234 Added Llava and BakLlava
  requirements.txt
  setup.cfg
  src/helm/benchmark/model_metadata_registry.py
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/proxy/clients/vision_language/huggingface_vlm_client.py
Labels: models, VHELM

#2259 Add MMMU scenario and support multimodal multiple choice adaptation
  setup.cfg
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
  src/helm/benchmark/adaptation/adapters/multimodal/multiple_choice_joint_multimodal_adapter.py
  src/helm/benchmark/presentation/run_specs_vhelm.conf
  src/helm/benchmark/presentation/run_specs_vhelm_lite.conf
  src/helm/benchmark/scenarios/vision_language/mmmu_scenario.py
  src/helm/benchmark/vlm_run_specs.py
Labels: VHELM
